/* Start pre-design */
:root {
  --main-color: #f00f70;
  --main-trans: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 2000px;
  padding: 0 2em;
  margin: 0 auto;
}

.agency-name {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 4em 0;
}

.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: -70px;
  width: 50px;
  height: 50px;
  background-color: #514e4d;
  border-radius: 50%;
  z-index: 9999;
  cursor: pointer;
  transition: var(--main-trans);
}

.scroll-top.appear {
  right: 20px;
}

.scroll-top i {
  color: var(--main-color);
}
/* End pre-design */

/* Start Settings Box */
.setting-box {
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  min-height: 100vh;
  width: 250px;
  z-index: 9999;
  transition: var(--main-trans);
}

.setting-box.open {
  left: 0;
}

.setting-box .toggle-setting {
  position: absolute;
  right: -31px;
  top: 20%;
  transform: translateY(-20%);
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.setting-box .toggle-setting i {
  color: white;
}

.setting-box .options {
  padding: 10px;
}

.setting-box .options > div {
  padding: 10px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 8px;
  text-align: center;
}

.setting-box .options > div h4 {
  font-size: 1.2rem;
  color: white;
}

.setting-box .colors-options .colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 0.75em;
}

.setting-box .colors-options .colors li {
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.setting-box .colors-options .colors li:hover {
  border: 2px solid black;
}

.setting-box .colors-options .colors li.active {
  border: 2px solid black;
}

.setting-box .colors-options .colors li:first-child {
  background-color: #f00f70;
}

.setting-box .colors-options .colors li:nth-child(2) {
  background-color: #f2b50b;
}

.setting-box .colors-options .colors li:nth-child(3) {
  background-color: #9cd5ff;
}

.setting-box .colors-options .colors li:nth-child(4) {
  background-color: #aeb784;
}

.setting-box .colors-options .colors li:nth-child(5) {
  background-color: #91d06cbf;
}

.setting-box .bg-options {
  margin-top: 10px;
}

.setting-box .bg-options .random-bg-btns {
  margin-top: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.setting-box .random-bg-btns span {
  background-color: rgb(31 31 31 / 50%);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: var(--main-trans);
}

.setting-box .bg-options .random-bg-btns span:hover,
.setting-box .bg-options .random-bg-btns span.active {
  background-color: rgb(31 31 31);
}
/* End Settings Box */

/* Start Landing Section */
.landing {
  min-height: 100vh;
  background-image: url(../images/landing-img_0.jpg);
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;
}

.landing .header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  position: relative;
  z-index: 2;
  color: white;
}

.landing .header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.landing .header .navs {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.landing .header .navs a {
  text-decoration: none;
  font-size: 1.15rem;
  color: inherit;
  margin-left: 20px;
  letter-spacing: 1px;
}

.landing .header .navs a li {
  list-style: none;
  transition: var(--main-trans);
  -webkit-transition: var(--main-trans);
  -moz-transition: var(--main-trans);
  -ms-transition: var(--main-trans);
  -o-transition: var(--main-trans);
}

.landing .header .navs a li.active {
  color: var(--main-color);
}

.landing .header .navs a li:hover {
  color: var(--main-color);
}

.landing .introduction-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
}

.landing .introduction-text h1 {
  font-size: 6rem;
  margin: 0;
}

.landing .introduction-text h1 .colored {
  color: var(--main-color);
}

.landing .introduction-text .desc {
  margin-top: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* End Landing Section */

/* Start About Section */
.about {
  background-color: black;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .text-content {
  max-width: 800px;
}

.about .text-content h2 {
  font-size: 4rem;
  color: var(--main-color);
}

.about .text-content .desc {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 1em;
  color: white;
}

.about .img-container {
  width: 350px;
  height: 350px;
  background-color: #2a2928;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about .img-container::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  z-index: -1;
  transition: var(--main-trans);
}

.about .img-container:hover::before {
  width: 100%;
  height: 100%;
}

.about .img-container img {
  width: 100%;
  height: 100%;
}
/* End About Section */

/* Start Our Skills */
.content {
  background-color: #1d1c1a;
}

.content h2 {
  text-align: center;
  font-size: 4rem;
  color: var(--main-color);
}

.content .progress-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #303030;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
  border-radius: 5px;
}

.content .progress-container .progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .progress .progress-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}

.content .progress .progress-percent {
  width: 90%;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #eee;
}

.content .progress .progress-percent span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  width: 0;
  transition: 1.2s;
}
/* End Our Skills */

/* Start Just For You */
.for-you {
  background-color: black;
}

.for-you h2 {
  text-align: center;
  font-size: 4rem;
  color: var(--main-color);
}

.for-you .imgs-box {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #303030;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
  border-radius: 8px;
}

.for-you img {
  cursor: pointer;
  border-radius: 5px;
  transition: var(--main-trans);
}

.for-you img:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgb(0 0 0 / 70%);
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.popup-box .popup-box-img {
  border-radius: 5px;
}

.popup-box .popup-box-h {
  font-size: 1.25rem;
  color: var(--main-color);
}

.popup-box .close-popup-btn {
  position: absolute;
  top: -25px;
  right: -25px;
  color: white;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* End Just For You */
