/* Start pre-design */
:root {
  --main-color: #f00f70;
  --main-trans: 0.3s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  max-width: 2000px;
  padding: 0 2em;
  margin: 0 auto;
}

.agency-name {
  font-family: "Share Tech Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: 4em 0;
}

h2.head {
  text-align: center;
  font-size: 4rem;
  color: var(--main-color);
}

.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: -70px;
  width: 50px;
  height: 50px;
  background-color: #514e4d;
  border-radius: 50%;
  z-index: 9999;
  cursor: pointer;
  transition: var(--main-trans);
}

.scroll-top.appear {
  right: 20px;
}

.scroll-top i {
  color: var(--main-color);
}
/* End pre-design */

/* Start Settings Box */
.setting-box {
  position: fixed;
  top: 0;
  left: -250px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  min-height: 100vh;
  width: 250px;
  z-index: 9999;
  transition: var(--main-trans);
}

.setting-box.open {
  left: 0;
}

.setting-box .toggle-setting {
  position: absolute;
  right: -31px;
  top: 20%;
  transform: translateY(-20%);
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-left: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.setting-box .toggle-setting i {
  color: white;
}

.setting-box .options {
  padding: 10px;
}

.setting-box .options > div {
  padding: 10px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 8px;
  text-align: center;
}

.setting-box .options > div:not(:first-of-type) {
  margin-top: 10px;
}

.setting-box .options > div h4 {
  font-size: 1.2rem;
  color: white;
}

.setting-box .colors-options .colors {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-top: 0.75em;
}

.setting-box .colors-options .colors li {
  list-style: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.setting-box .colors-options .colors li:hover {
  border: 2px solid black;
}

.setting-box .colors-options .colors li.active {
  border: 2px solid black;
}

.setting-box .colors-options .colors li:first-child {
  background-color: #f00f70;
}

.setting-box .colors-options .colors li:nth-child(2) {
  background-color: #f2b50b;
}

.setting-box .colors-options .colors li:nth-child(3) {
  background-color: #9cd5ff;
}

.setting-box .colors-options .colors li:nth-child(4) {
  background-color: #aeb784;
}

.setting-box .colors-options .colors li:nth-child(5) {
  background-color: #66cd29;
}

.setting-box .options .btns {
  margin-top: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.setting-box .options .btns span {
  background-color: rgb(31 31 31 / 50%);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: var(--main-trans);
}

.setting-box .options .btns span:hover,
.setting-box .options .btns span.active {
  background-color: rgb(31 31 31);
}
/* End Settings Box */

/* Start nav Bullets */
.nav-bullets {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 9999;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-bullets .bullet {
  border: 2px solid var(--main-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.nav-bullets .bullet .tool-tip {
  position: absolute;
  color: white;
  background-color: var(--main-color);
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  right: 32px;
  text-align: center;
  padding: 0.25em;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.nav-bullets .bullet .tool-tip::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -15.8px;
  border: 8px solid;
  border-color: transparent transparent transparent var(--main-color);
}

.nav-bullets .bullet:hover .tool-tip {
  opacity: 1;
  visibility: visible;
}
/* End nav Bullets */

/* Start Landing Section */
.landing {
  min-height: 100vh;
  background-image: url(../images/landing-img_0.jpg);
  background-size: cover;
  position: relative;
  transition: 0.5s;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  z-index: 1;
}

.landing .header {
  display: flex;
  align-items: center;
  padding: 1em 0;
  position: relative;
  z-index: 2;
  color: white;
}

.landing .header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.landing .header .navs {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.landing .header .navs a {
  text-decoration: none;
  font-size: 1.15rem;
  color: inherit;
  margin-left: 20px;
  letter-spacing: 1px;
}

.landing .header .navs a li {
  list-style: none;
  transition: var(--main-trans);
  -webkit-transition: var(--main-trans);
  -moz-transition: var(--main-trans);
  -ms-transition: var(--main-trans);
  -o-transition: var(--main-trans);
}

.landing .header .navs a li.active {
  color: var(--main-color);
}

.landing .header .navs a li:hover {
  color: var(--main-color);
}

.landing .introduction-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
}

.landing .introduction-text h1 {
  font-size: 6rem;
  margin: 0;
}

.landing .introduction-text h1 .colored {
  color: var(--main-color);
}

.landing .introduction-text .desc {
  margin-top: 10px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
/* End Landing Section */

/* Start About Section */
.about {
  background-color: black;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .text-content {
  max-width: 800px;
}

.about .text-content h2 {
  font-size: 4rem;
  color: var(--main-color);
}

.about .text-content .desc {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-top: 1em;
  color: white;
}

.about .img-container {
  width: 350px;
  height: 350px;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 8px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.about .img-container::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  z-index: -1;
  transition: var(--main-trans);
}

.about .img-container:hover::before {
  width: 100%;
  height: 100%;
}

.about .img-container img {
  width: 100%;
  height: 100%;
}
/* End About Section */

/* Start Our Skills */
.content {
  background-color: #1d1c1a;
}

.content .progress-container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #303030;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
  border-radius: 5px;
}

.content .progress-container .progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .progress .progress-name {
  font-weight: 600;
  font-size: 1.25rem;
  color: white;
}

.content .progress .progress-percent {
  width: 90%;
  height: 30px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #eee;
}

.content .progress .progress-percent span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
  width: 0;
  transition: 1.2s;
}
/* End Our Skills */

/* Start Just For You */
.for-you {
  background-color: black;
}

.for-you .imgs-box {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #303030;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
  border-radius: 8px;
}

.for-you img {
  cursor: pointer;
  border-radius: 5px;
  transition: var(--main-trans);
}

.for-you img:hover {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgb(0 0 0 / 70%);
}

.popup-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 500px;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 12px;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.popup-box .popup-box-img {
  border-radius: 5px;
  max-height: 400px;
}

.popup-box .popup-box-h {
  font-size: 1.25rem;
  color: var(--main-color);
}

.popup-box .close-popup-btn {
  position: absolute;
  top: -25px;
  right: -25px;
  color: white;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
/* End Just For You */

/* Start Timeline */
.timeline {
  background-color: #1d1c1a;
}

.timeline .container {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.timeline .container .timeline-walks {
  content: "";
  position: absolute;
  width: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.timeline .container .timeline-walks .filler {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: var(--main-color);
  transition: 0.1s;
}

.timeline .container .year {
  position: relative;
  margin: 0 auto;
  background-color: var(--main-color);
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1.05rem;
}

.timeline .container .walk {
  padding: 1em;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(10px);
  border: 1px solid rgb(255 255 255 / 20%);
  width: calc(50% - 70px);
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.timeline .container .walk::before {
  content: "";
  background-color: var(--main-color);
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50%;
  border: 3px solid white;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: var(--main-trans);
}

.timeline .container .walk.activate::before {
  transform: translateY(-50%) scale(1);
}

.timeline .container .walk.left::before {
  right: -86px;
}

.timeline .container .walk.right::before {
  left: -86px;
}

.timeline .container .walk::after {
  content: "";
  background-color: var(--main-color);
  height: 3px;
  width: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--main-trans);
  z-index: -1;
}

.timeline .container .walk.activate::after {
  width: 66px;
}

.timeline .container .walk.left::after {
  right: -67px;
}

.timeline .container .walk.right::after {
  left: -67px;
}

.timeline .container .left {
  align-self: flex-start;
}

.timeline .container .right {
  align-self: flex-end;
}

.timeline .container .walk h3 {
  font-size: 1.3rem;
}

.timeline .container .walk .desc {
  line-height: 1.8;
  margin-top: 0.75em;
  color: #c2c2c2;
}
/* End Timeline */

/* Start Features */
.features {
  background-color: black;
}

.features .feats {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
  margin-top: 3em;
}

.features .feat-box {
  text-align: center;
}
.features .feat-box i {
  color: var(--main-color);
  font-size: 2rem;
}
.features .feat-box h3 {
  margin-top: 1em;
  font-size: 1.5rem;
}
.features .feat-box .desc {
  margin-top: 0.5em;
  font-size: 1.25rem;
  line-height: 1.6;
}
/* End Features */

/* Start Testemonials */
.testemonials {
  position: relative;
}

.testemonials h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
}

.testemonials::before,
.testemonials::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.testemonials::before {
  left: 0;
  background-color: var(--main-color);
}

.testemonials::after {
  right: 0;
  background-color: #1d1c1a;
}

.testemonials .tests {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 1.25em;
  margin-top: 2.5em;
}

@media (max-width: 767.8px) {
  .testemonials .tests {
    grid-template-columns: 1fr;
  }
}

.testemonials .tests .test {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: white;
}

.testemonials .tests .test > p {
  font-style: italic;
  font-size: 1.1rem;
}

.testemonials .tests .test .person-info {
  display: flex;
  align-items: center;
  gap: 1.25em;
  margin-top: 1em;
}

.testemonials .test .person-info img {
  width: 60px;
  border-radius: 50%;
  padding: 1px;
  border: 3px solid white;
}

.testemonials .test .person-info .text-infos h5 {
  font-size: 1.05rem;
}

.testemonials .test .person-info .text-infos p {
  margin-top: 0.5em;
}
/* End Testemonials */
